# Dependencies
node_modules/
.next/
out/
dist/
build/
release/
*.tsbuildinfo

# Environment variables
.env*.local
.env
.env.development
.env.production
.env.test

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db

# Electron-builder output
dist_electron/
win-unpacked/
*.exe
*.dmg
*.AppImage
*.snap

# Local development
.cache/
.temp/
.tmp/
.turbo/
*.bat

# Testing
coverage/
.nyc_output/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env.production